@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
*{
    box-sizing: border-box;
}
body{
    background-color: lightcyan;
}
header h2{
    font-family: 'Italianno', cursive;
    font-weight: bold;
    color: white;
    background-color: #ba4e8c;
    height: 30px;
}
nav{
    position: absolute;
    top: 25px; right: 270px;
}
nav a{
    font-weight: bold;
    color: white;
}
h2{
    font-family: 'Italianno', cursive;
    font-weight: bold;
    color: #cf8bb9;
}
.arc h3{
    font-family: 'Italianno', cursive;
    color: #cf8bb9;
    text-align: center;
    font-size: 2.5em;
    position: absolute;
    top: 80px; right: 640px;

}
.arc{
    width: 80%;
    margin: auto;
    background: center -5px no-repeat url(../img/unnamed.png);
    height: 150px;
}
#conteneur{
    background-color: white;
    margin: auto;
    width: 80%;
    border-radius: 10px;
    border: 1px solid lightcoral;
    box-shadow: 1px 1px 1px 5px #cfcfcf;
}
  
.photo{
    width: 800px;
}
figure{
    width: auto;
    float: left;
    margin-left: 5%;
}
img{
    width: 120px;
}
figcaption {
    opacity: 0.7;
    background-color: black;
    text-align: center;
    color: white;
    height: 10%;
    /*ici, pour faire monter le texte*/
    position: relative;
    bottom: 22px;
}
main{
    width: 1000px;
    margin: auto;
    background-image: url(../img/bcgunnamed.png);
}
.plan{
    columns: 2 auto;
}
iframe {
    width: 400px;
    height: 320px;
    margin: auto;
    margin-left: 10px;
    border: 5px solid black;
}
.contact{
    width: 300px;
    margin: auto;
}
.contact h4{
    font-size: 1.5em;
    font-family: 'Italianno', cursive;
    color: #d693bf;
    height: 0;
}
.input{
    background: #db9fbf;
}
footer{
    background-color: #e577b5;
    text-align: right;
    color: white;
}

