@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
*{
    box-sizing: border-box;
}
body{
    background-color: lightcyan;
}
header h2{
    font-family: 'Italianno', cursive;
    font-weight: bold;
    color: white;
    background-color: pink;
}
nav{
    position: absolute;
    top: 25px; right: 180px;
}
nav a{
    font-weight: bold;
    color: white;
}
h2{
    font-family: 'Italianno', cursive;
    font-weight: bold;
    color: pink;
}
.arc h3{
    font-family: 'Italianno', cursive;
    color: pink;
    text-align: center;
    font-size: 2.5em;
}
.arc{
    width: 80%;
    margin: auto;
    background: center 10px no-repeat url(../img/unnamed.png);
    height: 200px;
}
#conteneur{
    background-color: white;
    margin: auto;
    width: 80%;
    height: 780px;
    border-radius: 10px;
    border: 1px solid lightcoral;
    
}
.photo{
    width: 800px;
}
figure{
    width: auto;
    float: left;
    margin-left: 5%;
}
img{
    width: 120px;
}
figcaption {
    opacity: 0.8;
    background-color: black;
    text-align: center;
    color: white;
    height: 10%;
    /*ici, pour faire monter le texte*/
    position: relative;
    bottom: 22px;
}
main{
    width: 1000px;
    margin: auto;
    background-image: url(../img/bcgunnamed.png);
}
.plan{
    columns: 2 auto;
}
iframe {
    width: 400px;
    height: 320px;
    margin: auto;
}
.contact{
    width: 300px;
    margin: auto;
}
.contact h4{
    font-size: 1.5em;
    font-family: 'Italianno', cursive;
    color: pink;
}
footer{
    background-color: pink;
    text-align: right;
    /*color: white;*/
}

